* {
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.reg {
    width: 100%;
    height: 100vh;
    background-color: #fff;
}
/* عشان يظبط العرض الي بيطلع برا الشاشة */
.align-items-center {
    width: 100%;
}

.reg .wrapper {
    text-align: center;
    padding: 30px 0;
    height: 100vh;
}
/* reg header */
.reg-header {
    /* flex stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 50px;
}

.reg-header h2 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

/* reg body */

/* left side */
.reg-body .select {
    color: #777;
    letter-spacing: 0.9px;
    margin-bottom: 50px;
}

.btn-signup {
    display: inline-block;
    width: 100%;
    background-color: #fff;
    
    border: 1px solid #cdcdcd;
    padding: 10px 20px;
    border-radius: 5px;
    outline: 0;

    font-weight: 500;
    margin-bottom: 15px;

    transition:  0.3s;
    position: relative;
}

.btn-signup::after {
    content: "";
    position: absolute;

    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    
    transition: 0.3s;
}

.btn-signup:hover::after {
    background: rgba(0, 0, 0, 0.09);
    width: 100%;
}

.btn-login {
    display: inline-block;
    width: 100%;
    color: #fff;
    background-color: #000;
    margin-bottom: 500px;
    
    border: 1px solid #cdcdcd;
    padding: 10px 20px;
    border-radius: 5px;
    outline: 0;
    
    font-weight: 500;
    margin-bottom: 55px;
    transition:  0.3s;
    position: relative;

}

.btn-signup:hover,
.btn-login:hover {
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.3);
}

.small {
    margin: 0;
    font-size: 14px;
    color: #999;
}

.supp {
    font-size: 15px;
    color: #999;
    border-bottom: 1px solid #999;
}
.content {
    width: 400px;
    margin: auto;
}

/* right side */
.img {
    padding: 30px 0;
    background-color: #09132b;
    height: 100vh;

    display: flex;
    align-items: center;
}

.img img {
    width: 420px;
}

/* media */
@media (width < 992px) {
    .img {
        display: none;
    }
}

@media (width < 450px) {
    .content {
        width: 300px;
    }
}